.signUp{
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: start;
}

body{
     background-color: bisque;
 }

#btnRegister{
    margin-right: 10px !important;
    border: none;
    background-color: #1e2824;
}

@media only screen and (max-width: 900px){
    #btnRegister{
        margin-bottom: 60px;
    }
}