/*  */
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}

.homeContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
