/*  */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}


body{
  background-color: bisque;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .homeContainer{
    margin-top: -40px;
  }
  .App{
    min-height: 100vh;
  }
}