.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btnContainer{
  margin-top: 20px;
}

button{
  margin-right: 5px;
  background-color: #f6834f; /* Green */
  border: none;
  border-radius: 10px;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  /* border: 2px solid #4CAF50; Green */
}

/* button:hover{
  background-color: bisque
} */


button:hover {
  transition: 0.2s ease-in-out;
  background: bisque;
  text-decoration: underline;
  /* border-radius:50%; */
  box-shadow: inset 0 0 0 3px #8a4b2e;;
  /* border: 1px dashed black; */
}

