
.card-list {
    width: 85vw;
    margin: 0 auto;
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .header{
    margin-top: 60px;
  }