
.card-list {
    width: 75vw;
    margin: 0 auto;
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 60px;
    min-height: 70vh;
    background-color: bisque;
    column-gap: 60px;
  }

  .header{
    margin-top: 60px;
  }

  button, #btnAbout, #btnDelete, .checkmark{
    /* margin: 10px 15px; */
    background-color: bisque; 
    border: none;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
  }
  
  button:hover {
    transition: 0.2s ease-in-out;
    background: bisque;
    text-decoration: underline;
  }

 .checkmark:hover {
    transition: 0.2s ease-in-out;
    background: bisque;
    text-decoration: underline;
  }


label{
    margin-left: 8px;
    background-color: bisque; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
  }

  input[type="checkbox"] { 
    filter: invert(0%) hue-rotate(0deg) brightness(-0.1);
    transform: scale(1.2);
    accent-color: rgb(0, 0, 0);
  }

  @media only screen and (max-width: 900px) {
    .card-list {
      justify-content: center;
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 600px) {

    .header{
      margin-top: 40px;
    }
    .card-list {
      justify-content: center;
    }

    button, #btnAbout, #btnDelete, .checkmark{
      font-size: 12px !important; 
      border-radius: 0px;
      text-align: start;
    }

    #btnAbout, #btnDelete{
      margin-left: -12px;
    }
    label{
      margin-left: 0px;
    }
  }