.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    /* border: 0.5px solid grey; */
    border-left: 1px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    width: 200px;
    min-height: 350px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 1.8px #888888;
  }
  
  .card-container:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease-out;
  }
  
  span{
    /* display: none; */
    color: black;
    text-align: start !important;
    font-size: 13px;
    margin-bottom: 7px;
  }


  .detail{
    justify-content: center;
    align-items: flex-start;
    
  }


